html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding-right: 0 !important;
    color: #29303b;
    font-size: 15px;
    height: 100%;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
header {
    text-align: center;
}
  
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}
  
input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
  
.divider {
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.navbar {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}
  
.login-container a {
    color: #000000;
    margin-left: 40px; 
}

.title-container{
    align-items: center;
}

.wrapper {
    display: flex;
    margin: 5em;
    align-items:first baseline;
}

.list-container {
    flex: 1;
    max-width: 25em;
    background-color: #fff;
    text-align: center;
    /* padding: 20px; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.createlist {
    flex: 1;
    margin-left: 100px;
    padding: 1.25em;
    justify-content: space-between;
    text-align: start;
    padding-top: 0px;
    margin-top: 0px;
}

.note-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* margin-bottom: 0.625em; */
    color: #fff;
    padding: 0 1em;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.note-container:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.delete-button {
    border-right: 2em;
    display: flex;
    align-items: center;
}

.note-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.625em;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.note-title-link {
    display: block;
    padding: 1em 0;
    /* padding-right: 80%; */
    flex-grow: 2;
    text-align: left;
    text-decoration: none;
}

.logout-btn {
    /* background-color: red; */
    /* outline: 1px red; */
    border: 1px solid red;
    border-radius: 10px;
    padding: 0.8em 1.2em;
    font-size: 1.1em;
    color: red;
    background-color: white;
}

.logout-btn:hover {
    cursor: pointer;
    color: white;
    background-color: red
}

#addNewButton {
    padding: 1em 1em;
    border-radius: 0.75em;
    background-color: white;
    color: black;
    border: 2px solid black;
    margin-top: 0%;
}

#addNewButton:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}